.marcas {
    border: none;
    box-shadow:$shadow;
    text-align: center;
    transition: $transiciones;

    &:hover {
        @include shadowHover(15px);
    }

    img {
        width: 100%;
        border-radius: 10px;
    }
}
