.ubicacion {
    overflow:hidden;
    padding-bottom: 500px;
    margin-inline: 20px;
    position:relative;
    height:0;

    iframe {
        height:100%;
        width:100%;
        position:absolute;
    }
}
